@using System.Data.SqlClient
@inject Services.Database DB

@{
    DB.Connection.Open();
    SqlCommand cmd = DB.Connection.CreateCommand();
    cmd.Parameters.AddWithValue("@SGID@", ScriptGroupID);
    cmd.CommandText = "SELECT Name, Description FROM ScriptGroups WHERE ScriptGroupID = @SGID@";
    SqlDataReader reader =  cmd.ExecuteReader();
    reader.Read();
    Name = reader.GetString(0);
    Description = reader.GetString(1);
    DB.Connection.Close();
    string name = "PERM-" + ScriptGroupID.ToString();
}

<label for="@name" class="list-group-item list-group-item-action p-3 user-select-none" aria-current="true">
    <div class="d-flex w-100">
        <CheckBox Name="@name" Value="@Value"></CheckBox>
        <h5 class="mb-1">@Name</h5>
    </div>
    <p class="mb-1">@Description</p>
</label>

@code {
    [Parameter]
    public Guid ScriptGroupID { get; set; }
    [Parameter]
    public string Value { get; set; }
    private string Name;
    private string Description;
}