@page
@model RequestsModel

<div class="container p-0">

    <div class="row">
        <h2 class="input-group mb-3 col fw-lighter">Form Requests</h2>
        <div class="col-auto">
            <component 
                type="typeof(Shared.Components.Pagination)"
                render-mode="Static"
            />
        </div>
    </div>

    <div class="card row g-0">
        <div class="row card-body align-items-center">
            <div class="col-auto"><i class="bi bi-filter-circle"></i></div>
            <div class="col">
                @foreach(RequestsModel.SearchTerm term in Model.SearchTerms)
                {
                    if (term.Value == null)
                    {
                        <span role="button" class="badge rounded-pill bg-secondary" data-bs-toggle="collapse" href="#ftc-@term.Name">@term.DisplayName</span>    
                    }
                    else
                    {
                        <span role="button" class="badge rounded-pill bg-primary" data-bs-toggle="collapse" href="#ftc-@term.Name">@term.DisplayName: <i class="fw-lighter">@term.Value</i></span>
                    }
                }
            </div>
        </div>
    </div>

    <form method="get" id="requestsSearchForm">
        @foreach(RequestsModel.SearchTerm term in Model.SearchTerms)
        {
            <div class="row g-0 collapse mt-3" id="ftc-@term.Name">
                <div class="input-group">
                    <span class="input-group-text">@term.DisplayName</span>
                    <input name="@term.Name" type="text" class="form-control" value="@term.Value">
                </div>
            </div>
        }
        <button type="submit" hidden></button>
    </form>

    <div class="row list-group g-0 mt-3">
        @foreach(RequestsModel.RequestDetails details in Model.Requests)
        {
            <a href='@("/Request/" + details.RequestID)' class="list-group-item list-group-item-action">
                <div class="row align-items-center">
                    <div class="col-auto"><i class="bi bi-box-arrow-up-right"></i></div>
                    <div class="col">
                        <div class="row">
                            <h6 class="col">@details.SourceFormName</h6>
                            <div class="col-auto"><span class="badge bg-primary rounded-pill">@details.Status</span></div>
                        </div>
                        <div class="row">
                            <small class="col">
                                <b>From:</b> @details.CreatedBy &bull;
                                <b>At:</b> @details.Created
                                @foreach(KeyValuePair<string, string> kv in details.CaptionParameters)
                                {
                                    <b>&bull; @kv.Key:</b> @kv.Value
                                }
                            </small>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>

</div>