<div 
    class="form-check form-switch"
    data-bs-toggle="popover"
    data-bs-trigger="focus hover"
    title="@Label"
    data-bs-content="@Description"
    data-bs-placement="top"
    style="display:inline-block;"
>
    <input
        type="checkbox"
        role="switch"
        class="form-check-input"
        id="@Name"
        name="@Name"
        checked="@Value"
    >
    <label class="form-check-label" for="@Name">@Label</label>
</div>

@code {
    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Value { get; set; }
    [Parameter]
    public string Description { get; set; }
}