@{
    string cls = "form-control";
    if (Value != null)
    {
        cls += " is-valid";
    }
    if (Value == "INVALID") {
        Value = "";
        cls += " is-invalid"; 
    }
}

<div class="form-floating">
    <input 
        id="@Name"
        type="text"
        class="@cls"
        name="@Name"
        placeholder="@Label"
        value="@Value"
        data-bs-toggle="popover"
        data-bs-trigger="focus"
        title="@Label"
        data-bs-content="@Description"
        data-bs-placement="top"
        autocomplete="off"
        disab-pattern="@RegularExpression"
    >
    <label for="@Name">@Label</label>
</div>

@code {
    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Value { get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public string RegularExpression { get; set; }
}