<div class="form-floating">
    <input 
        id="@Name"
        type="text"
        class="form-control"
        name="@Name"
        placeholder="@Label"
        value="@Value"
        data-bs-toggle="popover"
        data-bs-trigger="focus"
        title="@Label"
        data-bs-content="@Description"
        data-bs-placement="top"
        autocomplete="off"
        pattern="@RegularExpression"
    >
    <label for="@Name">@Label</label>
</div>

@code {
    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Value { get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public string RegularExpression { get; set; }
}